# Taqueria el Taquero

In [1]:
import pandas as pd
from pathlib import Path

# Ruta hacia la carpeta Data
data_dir = Path("../Data")

if not data_dir.exists():
    raise FileNotFoundError(f"No se encontro la carpeta Data en: {data_dir} :(")

print("Carpeta Data encontrada:", data_dir)

Carpeta Data encontrada: ..\Data

In [2]:
# Orden personalizado de los archivos CSV
orden_csv = [
    "Cliente.csv",
    "Empleado.csv",
    "Proveedor.csv",
    "Producto.csv",
    "Inventario.csv",
    "Pedido.csv",
    "DetallePedido.csv",
    "MetodoPago.csv",
    "Pago.csv",
    "Evento.csv"
]

for archivo in orden_csv:
    ruta = data_dir / archivo
    print("\n---")
    print(f"Archivo: {archivo}")

    if not ruta.exists():
        print("No se encontro este archivo dentro de /Data :(")
        continue

    df = pd.read_csv(ruta)
    display(df.head(30))
    print(f"Filas: {len(df)}, Columnas: {len(df.columns)}")

---
Archivo: Cliente.csv

   ID_Cliente         Nombre    Telefono                     Correo Direccion
0           1  Juanito Perez  6671234567             juan@gmail.com   Calle 1
1           2      Ana Lopez  6679876543              ana@gmail.com   Calle 2
2           3    Jacobo Ruiz  6675558899  tiago.l.jackson@gmail.com   Calle 3

Filas: 3, Columnas: 5

---
Archivo: Empleado.csv

   ID_Empleado         Nombre    Puesto       Turno      Telefono
0            1    Luis Torres  Cocinero    Nocturno  667 111 2233
1            2   Maria Garcia    Cajera    Matutino  667 222 3344
2            3  Pedro Salinas   Taquero  Vespertino  667 333 4455

Filas: 3, Columnas: 5

---
Archivo: Proveedor.csv

,ID_Proveedor,Nombre,Telefono,Direccion,Correo,RFC
0,1,Carnitas el Carnoso,664 999 1122,Calle Carniceria,carnoso@proveedor.com,CSN990101AB1
1,2,Tortillones,664 888 2211,Calle Molino,tortillones@proveedor.com,TET880202BC2
2,3,PEPSI,664 777 3311,Calle Fabrica,pepsi@proveedor.com,RDP770303CD3

Filas: 3, Columnas: 6

---
Archivo: Producto.csv

,ID_Producto,Nombre,Tipo,Precio,Stock,ID_Proveedor
0,1,Taco Asada,Comida,25.0,200,1
1,2,Taco Adobada,Comida,22.0,180,1
2,3,Pepsi 600ml,Bebida,18.0,90,3
3,4,Tortilla Maiz (docena),Materia Prima,15.0,300,2
4,5,Tortilla Arina (docena),Materia Prima,23.5,100,2

Filas: 5, Columnas: 6

---
Archivo: Inventario.csv

,ID_Inventario,ID_Producto,Cantidad_Disponible,Punto_Reorden,Ultima_Actualizacion
0,1,1,200,50,2025-01-01
1,2,2,180,50,2025-01-02
2,3,3,90,20,2025-01-03
3,4,4,300,100,2025-01-04
4,4,4,70,80,2025-01-04

Filas: 5, Columnas: 5

---
Archivo: Pedido.csv

   ID_Pedido         Fecha_Pedido  ID_Cliente  ID_Empleado  Monto
0          1  2025-01-20 14:35:00           1            2   68.0
1          2  2025-01-20 15:10:00           3            1   44.0
2          3  2025-01-21 18:50:00           2            3   95.0

Filas: 3, Columnas: 5

---
Archivo: DetallePedido.csv

   ID_Detalle  ID_Pedido  ID_Producto  Cantidad  Precio_Unitario
0           1          1            1         2             25.0
1           2          1            3         1             18.0
2           3          2            2         2             22.0
3           4          3            1         1             25.0
4           5          3            2         2             22.0
5           6          3            3         2             18.0

Filas: 6, Columnas: 5

---
Archivo: MetodoPago.csv

   ID_MetodoPago   NombreMetodo
0              1       Efectivo
1              2        Tarjeta
2              3  Transferencia

Filas: 3, Columnas: 2

---
Archivo: Pago.csv

   ID_Pago  ID_Pedido  ID_MetodoPago  Monto           Fecha_Pago
0        1          1              1   68.0  2025-01-20 14:40:00
1        2          2              2   44.0  2025-01-20 15:12:00
2        3          3              1   95.0  2025-01-21 18:55:00

Filas: 3, Columnas: 5

---
Archivo: Evento.csv

   ID_Evento         Fecha_Evento  ID_Pedido Tipo_Evento  Cantidad_Personas
0          1  2025-02-01 20:00:00          1  Cumpleaños                 10
1          2  2025-02-05 18:30:00          3    Familiar                  6

Filas: 2, Columnas: 5